{% extends 'publica/base.html' %}

{% block conteudo %}
 <!--BANNER DESTAQUE-->

 <div class="row text-center mt-4 mb-3">
    <h3 class="title titulo">O QUE DESEJA CONHECER?</h3>

    <div class="col-lg-4">
      <img class="rounded-circle" src="img/icone_cursos.png" alt="Generic placeholder image" width="140" height="140">
      <h2></h2>   
      <p><a class="btn btn-secondary" href="#" role="button">Cursos &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="img/icone_areas.png" alt="Generic placeholder image" width="140" height="140">
      <h2></h2>  
      <p><a class="btn btn-secondary" href="#" role="button">Áreas de Atuação &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="img/icone_producoes.png" alt="Generic placeholder image" width="140" height="140">
      <h2></h2>
      <p><a class="btn btn-secondary" href="#" role="button">Produções &raquo;</a></p>
    </div>
    </div>


   <div class="container-fluid" id="bottom-banner">
    <div class="row align-items-center">
     
        <div class="col-12 col-md-6">
            <h4 class="primary-color offer-subtitle">Sobre o Portfólio On-line</h4>
            <h2 class="light-color"></h2>
            <p class="secondary-color conteudo">
                O Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN)  
                é reconhecido por seu compromisso com a formação integral dos alunos, fundamentado no tripé ensino, pesquisa e extensão.  
                Este modelo educativo vai além das aulas tradicionais, integrando teoria e prática para preparar os estudantes para os desafios do mercado de trabalho e da sociedade.
            </p>
            <p class="secondary-color conteudo">
                Pensando em ampliar as oportunidades para os nossos alunos e fortalecer as parcerias externas, desenvolvemos o Portfólio  
                On-line do IFRN, um sistema inovador que organiza e apresenta de forma estruturada todas as competências, projetos e 
                atividades realizadas no Instituto.
            </p>
        </div>
        
        <div class="col-12 col-md-6">
            <img src="img/campus-canguaretama.webp" alt="Campus Canguaretama IFRN" class="img-fluid rounded shadow-lg">
        </div>
    </div>
</div>


<!--PRODUTOS NOVOS-->
<div class="container">
    <div class="row text-center">
        <!--
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2></h2>   
        <p><a class="btn btn-secondary" href="#" role="button">Áreas &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2></h2>  
        <p><a class="btn btn-secondary" href="#" role="button">Campi &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2></h2>
        <p><a class="btn btn-secondary" href="#" role="button">Produções &raquo;</a></p>
      </div>-->


      <section>

 <!-- NOVOS CARDS -->
<div class="numbers-container">
    <div class="number-card">
      <div class="number">53</div>
      <div class="text">Cursos</div>
    </div>
    <div class="number-card">
      <div class="number">500</div>
      <div class="text">Projetos</div>
    </div>
    <div class="number-card">
      <div class="number">10</div>
      <div class="text">Produções</div>
    </div>
    <div class="number-card">
      <div class="number">5</div>
      <div class="text">Patentes</div>
    </div>
  </div>


  </section>
  
  <section class="Acoes">
    <!-- BEST SELLERS -->
    <div class="container" id="best-sellers">
      <h2 class="title primary-color">ÚLTIMAS AÇÕES</h2>
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="card primary-bg-color">
            <img src="img/DSC_2188.JPG" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <p class="card-category secondary-color"></p>
              <h5 class="card-title"></h5>
              <p><strong>Artigo Publicado em Período Internacional na área de IoT</strong></p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card primary-bg-color">
            <img src="img/Cópia de DSC_2860.JPG" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <p class="card-category secondary-color"></p>
              <h5 class="card-title"></h5>
              <p><strong>Alunos desenvolvem protótipo de equipamento na área da saúde</strong></p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card primary-bg-color">
            <img src="img/DSC_0192.JPG" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <p class="card-category secondary-color"></p>
              <h5 class="card-title"></h5>
              <p><strong>Núcleo de Pesquisa ganha prêmio em campeonato de Robótica</strong></p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card primary-bg-color">
            <img src="img/basquete.JPG" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <p class="card-category secondary-color"></p>
              <h5 class="card-title"></h5>
              <p><strong>Campus Canguaretama fecha parceria com empresa de software</strong></p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
            
             <!--PRODUTOS NOVOS aqui não está em uso-->
              <div class="container"   id="new-products">
                <h2 class="title primary-color"></h2>
               
                    </div>
                   </div>
                    </div> 
                    </div>
                 </div>
               </div>       
               
{% endblock %}