{% extends 'publica/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container py-5">
    <h2 class="text-center primary-color">SOBRE O PORTFÓLIO</h2>
    <strong><p class="text-center secondary-color">Conheça o Instituto Federal do Rio Grande do Norte e os projetos que fazemos para transformar a sociedade.</p></strong>
</div>


<section class="container py-5">

    <p class="text-dark conteudo">
        O Instituto Federal do Rio Grande do Norte (IFRN) é uma instituição de ensino pública que se destaca pela excelência em educação, pesquisa e extensão. Com um compromisso firme com a formação de profissionais altamente capacitados, o IFRN oferece cursos técnicos, de graduação e pós-graduação em diversas áreas do conhecimento, sempre com foco em inovação, sustentabilidade e desenvolvimento regional.
    </p>
    <p class="text-dark conteudo">
        Além de sua atuação no ensino, o IFRN é um importante centro de pesquisa e desenvolvimento, especialmente em áreas como Engenharia, Ciências Exatas e Tecnologia. A instituição promove o avanço científico e tecnológico por meio de núcleos de pesquisa, projetos de extensão e parcerias com empresas e organizações, contribuindo diretamente para o crescimento econômico e social da região.
    </p>
    <p class="text-dark conteudo">
        O IFRN também se preocupa com a inclusão e acessibilidade, oferecendo uma educação de qualidade para todos, com foco na formação integral do ser humano, pautada em valores como ética, cidadania e responsabilidade social.
    </p>
    <p class="text-dark conteudo">
        Com campi espalhados por todo o estado do Rio Grande do Norte, o IFRN é uma referência em educação profissional, contribuindo significativamente para a transformação da sociedade e para o futuro dos nossos alunos.
    </p>
</section>

{% endblock %}