<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg primary-bg-color py-0 px-2" id="navbar">
    <div class="container">
       
        <a href="#" class="navbar-brand">
            <img src="img/logo_temp.png" alt="Logo" id="navbar-logo">
        </a>

        <div class="collapse navbar-collapse" id="navbar-items">
           
            <form class="d-flex ms-auto d-none d-lg-flex" id="search-form">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Faça sua busca..." aria-label="search">
                    <button class="btn secondary-bg-color" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            
            <button class="btn btn-spaced-secondary ms-auto d-none d-lg-flex"><a href="login.html" class="nav-link">Login</a></button>
            <button class="btn btn-spaced-secondary ms-auto d-none d-lg-flex"><a href="login.html" class="nav-link">Cadastro</a></button>
            <button class="btn btn-spaced-secondary ms-auto d-none d-lg-flex"><a href="login.html" class="nav-link">Perfil</a></button>
            <button class="btn btn-spaced-secondary ms-auto d-none d-lg-flex"><a href="login.html" class="nav-link">Sair</a></button>
        </div>
    </div>
</nav>


</br>

<form class="d-flex d-lg-none mt-0" id="search-form-mobile">
   
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Faça sua busca..." aria-label="search">
        <button class="btn secondary-bg-color" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>


<!-- NAVBAR INFERIOR -->
<nav class="navbar navbar-expand-lg secondary-bg-color p-2" id="bottom-navbar-container">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#bottom-navbar" aria-controls="bottom-navbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="bottom-navbar">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="sobre.html" class="nav-link">Portfólio</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link " id="acoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produções</a>
                    <ul class="dropdown-menu" aria-labelledby="acoesDropdown">
                        <li><a class="dropdown-item" href="Nucleos_acao.html">Núcleos de Pesquisa</a></li>
                        <li><a class="dropdown-item" href="#">Artigos</a></li>
                        <li><a class="dropdown-item" href="#">Livros</a></li>
                        <li><a class="dropdown-item" href="#">Patentes</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Parcerias</a></li>
                <li class="nav-item"><a href="contato.html" class="nav-link">Contato</a></li>

                
                <li class="nav-item d-lg-none"> <br>
                    <button class="btn btn-spaced-secondary w-100">Login</button>
                </li>
                <li class="nav-item d-lg-none"> <br>
                    <button class="btn btn-spaced-secondary w-100">Cadastro</button>
                </li>
                <li class="nav-item d-lg-none"> <br>
                    <button class="btn btn-spaced-secondary w-100">Perfil</button>
                </li>
                <li class="nav-item d-lg-none"> <br>
                    <button class="btn btn-spaced-secondary w-100">Sair</button>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
    
    <!---FIM NAVBAR-->